<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
     <ul>
            <li><a href="/tienda/headwear">headwear</a></li>
            <li><a href="/tienda/sweaters">sweaters</a></li>
            <li><a href="/tienda/jewelry">jewelry</a></li>
        </ul>

    <ul>
            {{#each productos}}
            <li>
                <h2>{{nombre}}</h2>
                <img src="{{imagenes.[0]}}" alt="">
                <p>{{categoria}}</p>
                <p>{{precio}}</p>
            </li>
            {{/each}}
        </ul>
    
</body>
</html>