*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    height: 100%;
    max-width: 100%;
    background-color: white;
    font-family: 'Oxygen', sans-serif;
}

.app{
    height: 100%;

    &__banner{
        height: 100vh;
        margin: 0;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

    }

    /*&__full-Screen-Banner-Wrap{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-image: url(/imagenes/BannerTienda.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }*/

    &__img-banner{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-image: url(/imagenes/BannerTienda.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*&__full-Screen-Banner-Wrap img{
        min-width: 100%;
        min-height: 100%;
    }*/

    &__img-overlay{
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: black;
        z-index: 1;
        opacity: 0.10;
    }

    &__header{
        margin: 0;
        position: fixed;
        width: 100%;
        height: 5%;
        margin-bottom: 8%;
        padding: 0.5% 5%;
        z-index: 3;
        backdrop-filter: blur(100px)
        sarurate(180%);
    }

    &__header, &__logo, &__header-ppal{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 1em;
        transition: 0.4s;
    }

    &__barra{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__link{
        font-size: 95%;
        margin-left: 1.5em;
        color: white;
        text-decoration: none;
    }

    .boton-modal{
        background: none;
        border: none;
    }

    &__link-logo{
        font-size: 100%;
        margin-left: 5px;
        color: white;
        text-decoration: none;
    }

    &__link:hover{
        color: rgb(230, 45, 116);
    }

    .modal{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 4; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

        &__img-modal{
            background-image: url(/imagenes/modal.jpg);
            width: 558px;
            height: 30%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__contenido{
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: #fefefe;
            position: relative;
            border-radius: 15px;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 600px; /* Could be more or less, depending on screen size */
            height: 500px; /* Could be more or less, depending on screen size */
            animation-name: animatetop;
            animation-duration: 0.4s;
            z-index: 1;
        }

        &__titulo{
            margin: 0;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        &__descrip{
            margin: 0;
            margin-bottom: 20px;
        }

        &__sustancia{
            padding: 0 5%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__input{
            margin-bottom: 15px;
            border-radius: 5px;
            &:first-child{
                margin-top: 15px;
            }
        }

        @keyframes animatetop {
            from {top: -300px; opacity: 0}
            to {top: 0; opacity: 1}
          }

          &__close{
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        &__close:hover, &__close:focus{
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__promo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        //align-items: center;
        margin: 0 5%;
        margin-top: 150px;
        //padding: 1%;
        height: 65%;
        z-index: 2;
    }

    .promo-contenedor{
        display: flex;
        flex-direction: column;
        //align-items: center;
        justify-content: center;
    }

    &__titulo1, &__titulo2{
        font-family: 'Roboto', sans-serif;
        color: white;
        margin: 0;
        padding: 0;
        transition: 0.4s;
    }

    &__titulo1{
        font-size: 50px;
        margin-bottom: 5px;
    }

    &__titulo2{
        margin-bottom: 50px;
        font-size: 70px;
    }

    &__contendor-boton{
        font-size: 30px;
        color: white;
        background-color: #2992CC;
        width: 250px;
        height: 90px;
        border: none;
        border-radius: 30px;
    }

    &__boton{
        text-decoration: none;
    }

    &__contendor-boton:hover{
        background-color: white;
        color: #2992CC;
    }

    @media (max-width: 375px){
        .app{

            &__banner{
                height: 70%;
            }

            &__img-banner{
                height: 70%;
            }

            &__img-overlay{
                height: 70%;
            }

            &__promo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            &__titulo1{
                margin: 0;
            }

            &__titulo2 strong{
                margin-bottom: 50px;
                font-size: 30px;
            }

            &__contendor-boton{
                font-size: 25px;
                width: 200px;
                height: 80px;
                border-radius: 30px;
            }
        }

        .promo-contenedor{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__body{
        margin: 0;
        //padding: 1%;
    }

    &__header-arrivals{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        font-size: 15px;
        color: white;
        background-color: #2992CC;
    }

    .categorias{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 15px;

        &__cont-fila{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__contenedorHead{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 160px;
            margin: 2%;
            background-image: url(/imagenes/headwearCat-25.png);
            //background-color: #2992CC;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__contenedorSweat{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height:160px;
            margin: 2%;
            background-image: url(/imagenes/sweatersCat.png);
            //background-color: #2992CC;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__contenedorJew{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 160px;
            margin: 2%;
            background-image: url(/imagenes/jewelryCat.png);
            //background-color: #2992CC;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__contenedorT{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 160px;
            margin: 2%;
            background-image: url(/imagenes/t-shirtsCat.png);
            //background-color: #2992CC;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__link{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 100%;
            height: 50px;
            background-color: rgba(0,0,0,0.55);
        }

        &__boton{
            width: 100%;
            background: none;
            border: none;
            padding: 0;
            color: white;
        }

    }

    .genero{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 15px;

        &__contenedor{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 80%;
            margin: 2%;
        }

        &__mujer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 400px;
            background-image: url(/imagenes/mujerCat.png);
            //background-color: #2992CC;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__hombre{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 400px;
            background-image: url(/imagenes/hombreCat.png);
            //background-color: #2992CC;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .anuncio{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //align-content: center;
        flex-basis: 100%;
        height: 100%;
        align-items: center;
        padding: 1% 5%;

        &__package{
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
            //height: 100%;
            //align-items: center;
            //width: 570px;
            margin: 10px 15px;
            opacity: 100;
        }

        &__titulo-contenedor{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        &__titulo-pack{
            font-size: 20px;
            margin-left: 20px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    
        &__imgPack{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height: 350px;
            transition: all 0.4s;
        }
    
        &__lugar{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5px;
        }
    
        #separador{
            width: 80%;
        }
    
        &__descripPack{
            display: flex;
            flex-direction: column;
            //box-sizing: content-box;
            align-items: center;
            justify-content: center;
            padding: 30px 0;
            background-color: white;
            padding-bottom: 30px;
            height: 300px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4),0 6px 20px 0 rgba(0,0,0,0.19);
            transition: all 0.4s;
        }

        &__info{
            margin: 5px 0;
            font-size: 20px;
        }
    
        &__package-boton{
            margin-top: 15px;
            text-decoration: none;
        }
    
        &__pack-boton-cont{
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            align-items: center;
            border: white;
            font-size: 20px;
            color: white;
            background-image: linear-gradient(to bottom right, blue, rgb(114, 175, 245));
            width: 200px;
            height: 60px;
            border-radius: 50px;
            transition: all 0.4s;
        }

        &__pack-boton-cont-amarillo{
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            align-items: center;
            border: white;
            font-size: 20px;
            color: white;
            background-image: linear-gradient(to bottom right, #FF931E, rgb(255, 203, 30));
            width: 200px;
            height: 60px;
            border-radius: 50px;
            transition: all 0.4s;
        }

        &__pack-boton-cont:hover{
            background-color: white;
            background-image: none;
            color: blue;
            width: 210px;
            height: 65px;
        }

        &__pack-boton-cont-amarillo:hover{
            background-color: white;
            background-image: none;
            color:  #FF931E;
            width: 210px;
            height: 65px;
        }

        &__titulo-pack{
            font-size: 25px;
        }
    
    }

    &__parallax{
        background-image: url(/imagenes/fondoMartin3.jpg);
        background-color: white;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .titulo{
        width: 60%;
        height: 150px;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #B6215B;
        transition:all .4s;
    }

    .tickets{
        flex-shrink: 1;
        width: 100%;
        height: 950px;
        background-image: url(/imagenes/tickets-13.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        display: flex;
        justify-content: flex-end;
        padding: 0 5%;
        padding-top: 3%;

        &__Btn{
            font-size: 25px;
            color: white;
            background: none;
            border: none;
            transition: all 0.4s;
    }

    &__Btn:hover{
        color: #B6215B;
    }

    &__Btn:visited{
        color: #B6215B;
    }

    &__descrip{
        margin-top: 6%;
        margin-bottom: 5%;
        margin-right: 5%;
        font-size: 20px;
    }

        &__fecha{
            font-weight: 400;
            font-size: 20px;
        }

        &__ticket-info{
            display: flex;
            //padding: 0 5%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            flex-shrink: 1;
            height: 100px;
            border-style: solid;
            border-color: white;
            margin-bottom: 25px;
            border-radius: 20px;
    }

    &__btn-compra{
        font-size: 25px;
        background: none;
        color: white;
        height: 93px;
        width: 30%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border: none;
        border-left: solid white;
        transition: all 0.4s;
        cursor: pointer;
    }

    &__btn-compra:hover {
        background-color: #37AB4A;
    }

    &__titulo{
        font-size: 25px;
        margin-left: 5%;
    }
   
    }

    .artistas{
        width: 100%;
        height: 150px;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        //margin-top: 1em;
        color: white;
        background-color: #F2B630;
    }

    .slider{
        //margin-top: 50px;

        &__banner{
            width: 100%;
            height: auto;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        /*&__info{
            color: white;
            width: 50%;
            height: 20%;
            margin-left: 5%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-content: flex-end;
            transition: all 0.4s;
        }*/

        &__miniaturas{
            height: 788px;
            //flex-basis: 10%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            transition: all 0.4s;
        }

        &__contenedor{
            height: 788px;
            width: 8%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-end;
            transition: all 0.4s;
        }

        &__miniaturas:hover{
            opacity: 100;
        }

        &__contenedor:hover{
            background-color: rgba(26, 26, 26, 0.507);
        }

        &__btn-img{
            width: 100%;
            height: auto;
            border: none;
            background: none;
            transition: all 0.4s;
        }

        &__btn-img:hover{
            height: 161px;
            width: 134px;
        }
    }

    .footer{
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        height: 10%;
        background-color: #B6215B;
        color: white;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 5%;

        &__redes{
            display: flex;
            flex-direction: row;
        }

        &__logo{
            max-width: 69;
            height: 74;
        }

        &__logo-redes{
            margin-right: 5px;
        }

        &__seguir{
            margin: 0;
            margin-right: 10px;
        }
    }

    @media (max-width: 1033px) {
        .app{
            &__nav{
                margin-left: .1em; 
            }

            &__link-logo{
                font-size: 75%;
            }

            &__link{
                font-size: 70%;
            }

        }

        .anuncio{

            &__imgPack{
                height: 300px;
            }
        }

        .titulo{
            height: 100px;
            font-size: 40px;
        }

        .artistas{
            height: 100px;
            font-size: 40px;
        }
    }

    @media (max-width: 891px){
        .app{
            &__titulo1{
                font-size: 30px;
            }

            &__titulo2{
                font-size: 50px;
            }
        }

        .anuncio{
            &__imgPack{
                height: 180px;
            }

            &__titulo-pack{
                font-size: 18px;
            }

            &__descripPack{
                box-sizing: none;
                height: 240px;
            }

            &__info{
                font-size: 15px;
            }
        }

        .titulo{
            height: 100px;
            font-size: 30px;
        }

        .artistas{
            height: 100px;
            font-size: 30px;
        }
        
    }

    @media (max-width: 635px){
        .app{
            &__titulo1{
                font-size: 25px;
            }

            &__titulo2{
                font-size: 45px;
            }
        }

        .footer{

            &__legal, &__seguir{
                font-size: 10px;
            }

        }
        
    }

    @media (max-width: 590px) {
        .anuncio{
            &__titulo-pack{
                font-size: 15px;
            }
        }

        .titulo{
            height: 90px;
            font-size: 25px;
        }

        .aristas{
            height: 90px;
            font-size: 25px;
        }

        .footer{

            &__legal, &__seguir{
                font-size: 10px;
            }

        }

        .modal{

            &__contenido{
                width: 400px;
            }

            &__img-modal{
                width: 358px;
            }
        }

    }

    @media ( max-width: 569px){
        .app{
            &__nav{
                margin-left: .01em; 
            }

            &__link-logo{
                font-size: 65%;
            }

            &__link{
                font-size: 60%;
            }

        }

        .anuncio{
            flex-direction: column;

            &__titulo-pack{
                font-size: 10px;
            }

            &__info{
                font-size: 10px;
            }

            &__descripPack{
                width: 100%;
                height: 200px;
            }

            &__imgPack{
                width: 100%;
                height: 150px;
            }

            &__pack-boton-cont, &__pack-boton-cont-amarillo{
                font-size: 10px;
                width: 100px;
                height: 50px;
            }

        }

        .tickets{
            &__Btn{
                font-size: 20px;
            }
        }

        .slider{
            &__banner{
                width: 569px;
            }
            
        }

        .footer{

            &__legal, &__seguir{
                font-size: 10px;
            }

            &__logo{
                width: 59;
                height: 64;
            }

        }

    }

}

.sideMenu{
    position: fixed;
    z-index: 2;
    width: 200px;
    height: 100%;
    background-color: black;
    left: -200px;
    transition: all 0.4s;
    display: none;

    &__menu-btn{
        position: absolute;
        left: 210px;
        top: 6px;
        transition: all 0.4s;
    }

    &__menu-btn span{
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
        border-radius: 10px;
    }

    &__cerrar{
        color: rgba(100, 100, 100, 0.3);;
    }

    &__navResponsive{
        display: flex;
        margin: 0;
        padding: 10px 10px;
        flex-direction: column;
        color: white;
        list-style: none;
    }

    &__item{
        display: flex;
        margin: 0;
        padding: 15px 10px;
        flex-direction: column;
        color: white;
        list-style: none;
        border-bottom: 1px solid  rgba(100, 100, 100, 0.3);
    }

    &__links{
        color: white;
        text-decoration: none;
    }
}

@media (max-width: 375px) {
    .sideMenu{
        display: block;

        &__menu-btn{
            position: absolute;
            left: 210px;
            top: 10px;
            transition: all 0.4s;
        }
    }
    
}

.cart{
    position: fixed;
    z-index: 2;
    width: 300px;
    height: 100%;
    background-color: black;
    right: -300px;
    transition: all 0.4s;
    //display: none;

    &__cant-container{
        position: absolute;
        display: flex;
        right: 315px;
        top: 5px;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 100px;
        background-color: #D33C7A;
    }

    &__cant{
        font-size: 15px;
        color: white;
    }

    &__btnContainer{
        right: 340px;
    }

    &__carrito-btn{
        position: absolute;
        //background-image: url(/imagenes/cart.png);
        color: #37AB4A;
        right: 340px;
        top: 11px;
        transition: all 0.4s;
    }

    &__cerrar{
        color: rgba(100, 100, 100, 0.3);;
    }

    &__titulo{
        color: #D33C7A;
    }

    &__cartMenu-lista{
        display: flex;
        margin: 0;
        padding: 10px 10px;
        flex-direction: column;
        color: white;
        list-style: none;
    }

    /*&__item{
        display: flex;
        margin: 0;
        padding: 15px 10px;
        flex-direction: column;
        color: white;
        list-style: none;
        border-bottom: 1px solid  rgba(100, 100, 100, 0.3);
    }

    &__links{
        color: white;
        text-decoration: none;
    }*/
}

@media (max-width: 375px) {
    .cart{
        width: 200px;
    }
    
}

.nav{
    display: flex;
    margin: 0;
    margin-right: 10px;
    flex-direction: row;
    color: white;
    list-style: none;

    &__item{
        display: flex;
        margin: 0;
        margin-right: 10px;
        flex-direction: row;
        color: white;
        list-style: none;
    }

    &__links{
        color: white;
        text-decoration: none;
    }

}

@media (max-width: 375px){
    .nav{
        display: none;
    }

}

.categoria{
    height: 100%;
    padding-top: 65px;
    transition: all 0.4s;
    //padding-top: 40px;

    &__nav{
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 50px;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;
        background-color: black;
    }

    &__banner{
        width: 100%;
        height: 600px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #aaa;
    }

    &__titulo{
        color: white;
    }

    &__contenido{
        padding: 0 15px;
    }

    .filtros{
        width: 100%;
        margin-bottom: 20px;
        background-color: #EAEAEA;

        &__contenedor{
            display: flex;
            flex-direction: row;
            padding: 15px;
        }

        &__titulo{
            margin-right: 50px;
        }
    }

    .items{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        //justify-content: center;
    }

    .item{
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 25px;

        &__img{
            border-radius: 10px;
            border-style: solid;
            border-width: 1px;
            border-color: #D33C7A;
            margin-bottom: 5px;
            height: 230px;
        }

        &__info{
            display: flex;
            flex-direction: row;
        }

        &__infoEsp{
            display: flex;
            flex-direction: column;
        }

        &__nombre{
            font-size: 15px;
            text-decoration: none;
            color: black;
            margin: 0;
        }

        &__precio{
            font-size: 20px;
            color: #37AB4A;
            margin: 0;
        }
    }

    // pagina del producto
    .preview{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        height: 50%;

        &__principal{
            width: 80%;
            height: auto;
            margin-right: 10px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #aaa;
        }

        &__miniaturas{
            display: flex;
            flex-direction: column;
            width: 20%;
            height: auto;
        }

        &__miniatura{
            width: 100%;
            height: auto;
            margin-bottom: 2%;
        }
    }

    .encabezado{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .titulo-contenedor{
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            height: 40px;
            padding: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: black;
            border-radius: 5px;
        }

        &__titulo{
            font-size: 25px;
            margin: 0;
        }

        .precio-contenedor{
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            height: 40px;
            padding: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: #37AB4A;
            border-radius: 5px;
        }

        &__precio{
            font-size: 20px;
            margin: 0;
            color: #37AB4A;
        }
    }

    .opciones{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 25px;

        &__contenedor1{
            width: 70%;
        }

        &__contenedor2{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 30%;

        }

        &__contenedor3{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        &__whish{
            width: 27px;
            margin-right: 25px;
            background-color: white;
            border: none;
        }

        &__cart{
            width: 27px;
            background-color: white;
            border: none;
        }

        .envio-anuncio{
            margin: 0;
            margin-bottom: 10px;
            font-size: 12px;
        }
    }

    .cantidad{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: flex-end;
        width: 80px;
        height: 30px;
        border-radius: 100px;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        border-left-width: 0;
        border-right-width: 0;
        margin-bottom: 15px;

        &__mas, &__menos{
            width: 30px;
            height: 30px;
            background-color: white;
            border-color: black;
            border-style: solid;
            border-width: 1px;
            border-radius: 100px;

        }

        &__contador{

        }
    }

    .descripcion{
       
    }

    .categorias{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        //padding: 15px;

        &__cont-fila{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__contenedorHead{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 160px;
            margin: 2%;
            background-image: url(/imagenes/headwearCat-25.png);
            //background-color: #2992CC;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__contenedorSweat{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height:160px;
            margin: 2%;
            background-image: url(/imagenes/sweatersCat.png);
            //background-color: #2992CC;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__contenedorJew{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 160px;
            margin: 2%;
            background-image: url(/imagenes/jewelryCat.png);
            //background-color: #2992CC;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__contenedorT{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 160px;
            margin: 2%;
            background-image: url(/imagenes/t-shirtsCat.png);
            //background-color: #2992CC;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__link{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 100%;
            height: 50px;
            background-color: rgba(0,0,0,0.55);
        }

        &__boton{
            width: 100%;
            background: none;
            border: none;
            padding: 0;
            color: white;
        }

    }

    @media (max-width: 375px) {
        .categoria{

            &__nav{
                width: 100%;
                height: 41px;
                margin: 0;
                margin-bottom: 15px;
                //display: none;
            }

            &__banner{
                width: 100%;
                height: 200px;
                margin-bottom: 15px;
            }

            &__titulo{
                font-size: 35px;
                color: white;
            }
        }

        .filtros{
            width: 100%;
            margin-bottom: 20px;
    
            &__titulo{
                font-size: 20px;
                margin: 0;
            }
        }

        .item{
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 25px;

            &__img{
                margin-bottom: 5px;
                height: 214px;
            }

            &__nombre{
                font-size: 12px;
                margin: 0;
            }
    
            &__precio{
                font-size: 18px;
                margin: 0;
            }
        }
    }
}

.producto{
    height: 100%;
    
}
